{% extends "upstart.conf.j2" %}

{% block extra_environment_variables %}
env MARKOVIC="http://localhost:{{appconf['beingjohnmarkovic']['http_port']}}/api/"
env MYSQL_HOST="{{PLUSONENEWS_MYSQL_HOST}}"
env MYSQL_DBNAME="linkbaiter"
env MYSQL_USER="{{PLUSONENEWS_MYSQL_USER}}"
env MYSQL_PASSWD="{{PLUSONENEWS_MYSQL_PASSWD}}"
env MYSQL_PORT={{PLUSONENEWS_MYSQL_PORT}}
env PUBLISHER_API="http://localhost:5000/publish"
{% endblock extra_environment_variables %}

