# {{ ansible_managed }} 
description "{{appconf[item]['description']}}"
author "Juan M Uys <opyate@gmail.com>"

env HOME={{appconf[item]['install_dir']}}
env JAVA_OPTS="-Xmx256M -Dfile.encoding=utf8"
env PORT={{appconf[item]['http_port']}}
env PORT_TLS={{appconf[item]['https_port']}}

{% block extra_environment_variables %}
Put this:
env YOUR_VAR=your_value
...in templates/your_app_name.conf.js
...and extend this file.
{% endblock extra_environment_variables %}


start on runlevel [2345]
stop on runlevel [016]

exec start-stop-daemon --chdir ${HOME} --start --exec ${HOME}/target/start
