server {
  server_name {{appconf[item]['domain']}};

  location / {
    proxy_pass http://localhost:{{appconf[item]['http_port']}} ;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header Host $http_host;
  }
}

