description "App server for SOAPBOX"                                                                                                                                 
start on runlevel [2345]
stop on runlevel [!2345]

env MAILGUN_KEY="{{MAILGUN_KEY}}"
env MAILGUN_HOST="{{MAILGUN_HOST}}"
env MAILGUN_FROM="{{MAILGUN_FROM}}"
env TUMBLR_EMAIL="{{TUMBLR_EMAIL}}"

respawn
 
script
    cd "{{soapbox_install_dir}}"
    exec gunicorn -w 1 -b 127.0.0.1:{{soapbox_port}} soapbox:app  ## execute by init daemon.
end script
